.list {
	--body-text-color: var(--grey);
	--bullet-color-01: var(--blue);
	--bullet-color-02: var(--light-blue);
	--bullet-color-03: var(--green);

	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 24px;

	&__item {
		color: var(--body-text-color);
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__icon {
		width: 16px;
		height: 16px;
		margin-right: 16px;

		&--blue {
			path {
				fill: var(--bullet-color-01);
			}
		}

		&--light-blue {
			path {
				fill: var(--bullet-color-02);
			}
		}

		&--green {
			path {
				fill: var(--bullet-color-03);
			}
		}
	}
}
