.spacer {
	margin: 24px;

	@media screen and (min-width: 712px) {
		margin: 48px;
	}

	@media screen and (min-width: 1100px) {
		padding: 6rem 4rem;
	}
}

.header {
	@media screen and (min-width: 1100px) {
		max-width: 1100px;
		margin: 0 auto;
	}
}

.information {
	--body-text-color: var(--grey);
	--button-link-text-color: var(--blue);
	--button-link-text-hover-color: var(--white);
	--button-link-text-active-color: var(--lighter-blue);
	--button-link-bg-color: var(--lighter-blue);
	--button-link-bg-hover-color: var(--blue);
	--button-link-bg-active-color: var(--dark-blue);
	--button-outline-color: var(--outline-color);
	--button-outline-size: var(--outline-size);
	--button-transition: 0.5s ease;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 712px) {
		line-height: 2;
	}

	@media screen and (min-width: 1100px) {
		max-width: 1100px;
		margin: 0 auto;
	}

	&__body {
		color: var(--body-text-color);
		max-width: 75ch;
	}

	&__link {
		text-decoration: none;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: .75em 1.25em;
		transition: var(--button-transition);
		background-color: var(--button-link-bg-color);
		color: var(--button-link-text-color);
		max-width: min-content;

		&:hover {
			--button-link-text-color: var(--button-link-text-hover-color);
			--button-link-bg-color: var(--button-link-bg-hover-color);
		}

		&:focus {
			outline: var(--button-outline-color);
			box-shadow: var(--button-outline-size) var(--button-outline-color);
		}

		&:active {
			--button-link-text-color: var(--button-link-text-active-color);
			--button-link-bg-color: var(--button-link-bg-active-color);
		}
	}
}
