:root {
	--white: #f6f6f9;
	--white-01: #feffff;
	--black: #010813;
	--grey: #3d4044;
	--dark-blue: #04255b;
	--blue: #0c49ac;
	--light-blue: #afcbfa;
	--lighter-blue: #d9e6fc;
	--lighter-blue-01: #c8d1df;
	--alfa-blue: rgba(217, 230, 252, 0.6);
	--green: #b1edab;
	--alfa-green: rgba(177, 237, 171, 0.595);
	--alfa-green-01: rgba(177, 237, 171, 0.1);
	--dark-green: #217619;
}
