:root {
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Open Sans', sans-serif;
	--fs-base-small: 14px;
	--fs-base-normal: 16px;
	--fw-normal: 400;
	--fw-semibold: 600;
	--heading-01: 2rem;
	--heading-02: 1.75rem;
	--heading-03: 1.5rem;
	--heading-04: 1.25rem;
	--heading-05: 1.125rem;
	--body-big: 1.125rem;
	--body-normal: 1rem;
	--body-small: .875rem;
	--body-extra-small: .795rem;
}
